@page "/deletealarmevent"
@using VG.CDF.Client.Application.Dto
@using Color = MudBlazor.Color
<h3>Вы действительно хотите удалить аварийное событие @AlarmEvent.ExternalId?</h3>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm">Ok</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">Отмена</MudButton>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    

    [Parameter]
    public AlarmEventDto AlarmEvent { get; set; }

    protected string AlarmEventName { get; set; } = null;

    protected override void OnInitialized()
    {
        AlarmEventName = AlarmEvent.ExternalId.ToString();
    }
    
    private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok());
    private async Task Cancel() => await BlazoredModal.CancelAsync();

}
